# 파이썬 캐시 및 기타
__pycache__/
*.pyc
.vscode/
*.py[cod]
*$py.class

# ▶️ Virtual Environment
.venv/
venv/
env/
ENV/
*.egg-info/

# 가상환경 무시
Lib/
Scripts/
pyvenv.cfg

# 설정파일
.env
*.yaml
*.json

# ▶️ PyCharm
.idea/

# ▶️ Logs and temp files
*.log
*.tmp